* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: rgb(30, 30, 30);
    display: flex;
    flex-direction: column;
}

header {
    background-color: black; 
    min-height: 150px;
    flex-grow: 1.5;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header .nome{
    margin-left: -25%;
    background-color: rgb(120, 120, 120);
    width: 35%;
    height: 60%;
    border-radius: 100px;
}

header h1{
    font-size: 12em;
    color: white;
    text-align: center;
}

header h2{
    font-size: 10em;
    color: white;
    text-align: center;
}

header ul{
    margin-left: -55%;
    color: aliceblue;
    font-size: 7em;
    list-style-type: none;
}

header ul li::before {
    content: "\2605";
    margin-right: 50px;
}

.foto{
    background-image: url(Foto-Currículo.jpeg);
    position: absolute;
    top: 25px;
    right: 15px;
    border-radius: 50%; 
    height: 55%;
    width: 25%;
    object-fit: cover;
    border: 10px solid black;
    background-position: center 10%;
    background-position-x: calc(45%);
    background-size: 200%;
}

main {
    background-color: white;
    flex-grow: 6;

    /*
.corpo{
    background-color: white;
    margin-top: 9%;
    height: 75%;
    width: 97%;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);  
}*/
}

footer {
    background-color: rgb(200, 200, 200);
    flex-grow: 0.5;
    display: flex;
    justify-content: space-around;
    align-items: center;
}